# See http://help.github.com/ignore-files/ for more about ignoring files.

api/.gitinore
api/bin
api/vendor
frontend/.gitinore
frontend/build
frontend/node_modules

# misc
.DS_Store

npm-debug.log
.idea
